body {
	height:100%;
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
  	-webkit-font-smoothing: antialiased;
  	background-color:$white;
}

.hide {
	display:none;
}

.wrap {
	width: 92%;
	margin: 0 auto;


	@include breakpoint(tablet) {
		max-width: 760px;
	}

	@include breakpoint(laptop) {
		max-width: 960px;
	}

	@include breakpoint(tv) {
		max-width: 960px;
	}
}


#content {
	background: $white url('../images/bg-content.png') bottom right no-repeat;

	&.widewrap {
		width:100%;
		max-width: 1680px;
		margin:0 auto;
		background: none;
		position: relative;
	}
}

.mainbgimg {
	position: absolute;
	bottom:0;
	right:0;
}

.main-content {
	margin:5em 0 14em;
	position:relative;
}

.header {
	border-top: 2em solid $yellow;
	padding:0;
}


#logo {
	margin: -25px 0 0 0;
	border: none;
	line-height:0;
	display:inline-block;
	float:left;
	width:25%;
	max-width:228px;

	img {
		padding:0;
		margin:0;
	}
}

/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $link-color;
  text-decoration: none;
  font-weight: 700;

  /* on hover */
  &:hover, &:focus {
    color: $link-hover;
  }

  /* on click */
  &:active {
  	color:$text-red;
  }

  /* mobile tap color */
  &:link {
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  text-rendering: optimizelegibility;
  font-weight: 500;
  margin:0 0 .675em 0;
  font-family: $title-family;

  
  a {
    text-decoration: none;
  }
}

h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
  text-transform: uppercase;
  color:$orange;
}

h2, .h2 {
  font-size: 2em;
  line-height: 1.4em;
  color:$yellow;
  font-family: $serif;
}

h3, .h3 {
  font-size: 1.5em;
   text-transform: uppercase;
   color:$red;
}

h4, .h4 {
  font-size: 1.5em;
  color:$orange;
  font-family: $serif;
}

h5, .h5 {
  font-size: 1.2em;
  text-transform: uppercase;
  color:$yellow;
}

h6 {
  font-size: 1.2em;
  color:$red;
  font-family: $serif;
}

.article-header {
	background-color:$red;
	color:$white;
	position:relative;
	display:block;
}

.single-title,
.entry-title {
	margin: 0 0 .5em 0;
}

 .archive-title, .single-title {
	font-size:2.5em;
}

.page-title {
	height: 236px;
	padding:1em 0 1em 300px;
	margin:0;
	line-height:3em;
	font-size:3em;
	display:inline-block;
	vertical-align: middle;
	position:relative;
	color:$white;
	background: url('../images/icon-contact.png') left no-repeat;

	&::before { 
		content:' ';
		width: 0;
		height: 0;
		display: inline-block;
		position:absolute;
		bottom:-24px;
		left:80px;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-top: 25px solid $red;
	}

	.page-parent-about-us & {
		background-image: url('../images/icon-about-us.png');
	}

	.page-parent-case-studies & {
		background-image: url('../images/icon-case-studies.png');
	}

	.page-parent-process & {
		background-image: url('../images/icon-process.png');
	}

	.page-parent-services & {
		background-image: url('../images/icon-services.png');
	}

}

.entry-title {
	font-size:2.3em;

	a {
		border-bottom:none;
	}

	.post-type-archive-case_study & {
		width: 40%;
		margin-right: 3%;
		float:left;
		display: inline-block;
	}
}

p {
	margin: 0 0 1.677em;
}

.searchform {
	label {

	}
	input {
		display: inline-block;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
ul {
	list-style: square url(../images/icon-bullet.png);
	margin:0 0 1.677em 5em;
}
.hentry {
	margin-bottom: 1.5em;

	

	ol {
		margin-bottom: 1.677em;
	}

	img {
		border: 3px solid $gray;

		&.noborder {
			border: none;
		}
	}

	footer {	
		p {
			margin: 0;
		}
	}

	

} /* end .hentry */


hr {
	border: none;
	background-color: $gray;
	height:4px;
	clear:both;
	margin:3em 0;
}

/* post meta */
.byline {
	color: $meta-color;
	font-style: italic;
	margin: 0;

	time {}
}

.process-tiles {

	div {
		
		

		h2 {
			color: $dark-red;
		}

		&:last-of-type {
			margin-right: 0 !important;
		}
	}
	
}

.process-title {
	display:block;
	width:100%;
	height:100%;
	padding:3em 5em 2em;
	background-color:$light-gray;
	width:29.8%;
	margin-right:2.9%;
	float:left;
	
	text-align: center;

	&.active {
		background:$dark-red;
	}

	&:hover {
		button {
			background-color:$orange;
		}
	}
}

.process-info {
	margin:0 auto;
	text-align:center;
}


/* entry content */
.entry-content {
	padding: 0;

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-color;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

} /* end .entry-content */

#breadcrumbs {
	font-size:.8em;
	margin-bottom:.5em;
}

.email_link {
	position: relative;
	padding-left:1.5em;
	
	&::before {
	    font-family: 'FontAwesome';
	    position: absolute;
	    top: 0;
	    left: 0;
	    content: "\f0e0";
	    z-index: 100;
	    color:$orange;
	  }	
}


.study-content {
	float: none;
	margin: 0 auto;
	width: 90%;
	display: block;
	padding:0 80px;
}

blockquote {
	margin: 0 0 1.5em 0.75em;
	padding: 0 0 0 80px;
	color: $text-red;
	font-size: 1.5em;
	font-family:$title-family;
	position:relative;
	display:inline-block;
	width: 40%;
	float:right;

	&.testimonial {
		float: none;
		margin: 0 auto;
		width: 90%;
		display: block;
		padding:0 80px;
		text-align: center;

		&::after {
			content:' ';
			background: url('../images/icon-quote-right.png') no-repeat;
			position:absolute;
			right:0;
			top:-10px;
			width:61px;
			height:49px;
		}

		.person {
			margin-right: 1em;
			padding-right:1em;
			border-right: 1px solid $yellow;
			text-transform: uppercase;
		}

		hr {
			background-color:$yellow;
			margin: 2em;
		}
	}

	:last-child {
		margin-bottom:0;
		padding-bottom:0;
	}

	&::before {
		content:' ';
		background: url('../images/icon-quote-left.png') no-repeat;
		position:absolute;
		left:0;
		top:-10px;
		width:61px;
		height:49px;
	}
}

.testimonial-pagination {
	font-size: 3em;
	position:relative;
	top:0px;
	height:0;

	& > div {
		position: relative;
	}
	.next {
		float:right;
	/*	padding-top:100px; */
	}

	.previous {
		float:left;
		/*	padding-top:100px; */
	}
}

img {
	margin: 0 0 1.5em 0;
	max-width: 100%;
	height: auto;
}

/*
Align all images center for smallest screens
*/
.alignleft, img.alignleft, 
.alignright, img.alignright,
.aligncenter, img.aligncenter { 
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;

	@include breakpoint(tablet) {
		
		margin-bottom: .677em;
	}
}

.alignleft, img.alignleft {
	@include breakpoint(tablet) {
		margin-right: 1.5em;
		float: left;
		display: inline;
	}
}

.alignright, img.alignright {
	@include breakpoint(tablet) {
		margin-left: 1.5em;
		float: right;
		display: inline;
	}
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	width:100%;
	overflow: hidden;
	margin-bottom:1.677em;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.wp-caption, .html5-captions .wp-caption {
	max-width: 100%;
	background: $light-gray;
	padding: .2em;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

} /* end .wp-caption */

.wp-caption-text {
	font-size: 0.85em;
	margin: .2em 0 .3em;
	text-align: center;
	font-style:italic;
}

/* image gallery styles */
.gallery {

} 

.gallery-item {
	display:inline-block;
	margin:0 2% 1em 0;
	width:100%;
	vertical-align:top;
	text-align:center;

	img {
		margin-bottom: 0;
	}

	@include breakpoint(tablet) {
		width:49%;
			&:nth-child(2n+2) {
			margin-right: 0;
		}
	}
}

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
margin: 0;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
.pagination{
text-align: center;

ul {
  display: inline-block;
  background-color: $white;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border-radius: 3px;
}

li {
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  overflow: hidden;
  border-right: 1px solid $gray;
}

a, span {
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: 0.75em;
  min-width: 1em;
  display: block;
  color: $blue;

  &:hover, &:focus {
  	background-color: $blue;
  	color: $white;
  }
}

.current{
	cursor: default;
	color: $text-color;

	&:hover, &:focus {
		background-color: $white;
		color: $text-color;
	}
}

} /* end .bones_page_navi */

/* fallback previous & next links */
.wp-prev-next {

	ul {}

	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}

} /* end .wp-prev-next */


/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
	padding:1em 0;
	font-size:.9em;

	p {
		margin-bottom: .677em;
	}

	a, a:visited {
		color:$gray;
		border-color: $gray;
	}
}

.organization-address, .copyright {
	text-align: center;
	margin:0 auto .5em;
	
	@include breakpoint(laptop) {
		margin:0 0 .5em;
		text-align: left;
		display:inline-block;

		& > div {
			display:inline-block;
		}
	}
}

.contact {
	margin-top:.5em;

	.item {
		display: inline-block;
		margin-right: 1em;
		padding-right: 1em;
		border-right: 1px solid $gray;
		line-height: 1em;

		&:last-of-type {
			border-right:none;
			margin-right:0;
			padding-right:0;
		}
	}
}



/* SCROLLORAMA */

.scrollblock {
	
	margin:0;
	position:relative;
	min-height: 300px;

	.hometitle {
		position:absolute;
		left:0;
		top:0;
		
	   	h3 {
	   		font-size: 2.5em;
	   		color:$white;
	   		margin:0;
	   		padding:0;
	   	}
	}

	.homebody {
		padding:100px 100px 0 520px;
		text-align: center;
		font-size: 1.25em;
		color:$white;

		li {
			margin-bottom: 2em;
		}
	}
}

.full-image-block {
	text-align:center;
	line-height:0;
	position:relative;
    background-size: cover;
    background-repeat: no-repeat;


	.text {
		position:absolute;
		z-index: 100;
		top:25%;
		padding:0 25%;
		color:$white;
		width:100%;
		

		h1 {
			font-size: 5.6em;
			color:$white;
			line-height: 1em;
			margin-bottom: .1em;

		}

		p {
			font-size: 1.75em;
			line-height: 1.25em;
			text-shadow: 3px 3px $dark-red;
		}

		.button {
			text-shadow: none;
		}
	}
}

.bg-yellow {
	
	background-color:$yellow;

}


.bg-red {
	background-color:$red;

	h1 {
		color:$light-red;
		margin-bottom: .1em;
		font-size:3.5em;
	}

	h3 {
		color:$yellow;
		font-size: 2em;
		margin-bottom:.1em;
	}

	ul {
		margin-top:2em;
		margin-bottom: 2.5em;
	}
}

.bg-dark-red {
	background-color: $dark-red;

	h3 {
		color:$white;
		font-size: 3.1em;
		margin-bottom: 1.5em;
	}

	.button {
		font-size: 1em;
	}
}

