/*********************
NAVIGATION STYLES
*********************/
.shortmenu {
	display:inline-block;
	float:right;
	font-size:.8rem !important;

	ul {
		display: inline-block;
		list-style: none;
		margin:0;
		padding:0;

		li {
			display: inline-block;
			margin-right:.6em;
			vertical-align: middle;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

#menu-social-menu {
	margin-top:0em;
}

#my-content #my-menu {
  display: none; 
}

#my-menu:not( .mm-menu ) {
 display: none; 
}

.menu-toggler {
	border: none;
	font-size:2em;
	color:$white;

	@include breakpoint(laptop) {
		display:none;
	}
}

.main-nav {	
	padding:0;
	display: none;

	@include breakpoint(laptop) {
		display: inline-block;
		float:right;
		text-align: right;
		width:75%;
		margin-top: 2em;
	}
}

.nav {
	border-bottom: 0;
	margin: 0;
	font-family:$title-family;


	li {

		a, a:visited {
			display: inline-block;
			color: $dark-red;
			border: none;
			padding: 0.75em;
			font-size: 1.25em;
			text-transform: uppercase;
			vertical-align: text-top;
			font-weight: 400;

			&:hover, &:focus {
				color: $orange;
			}

			&::after {
				content:"\f111";
				font-family: FontAwesome;
				font-size: .4em;
				padding-left:4em;
				display: inline-block;
				vertical-align: middle;
				color:$dark-red;
			}

		}

		&.current-menu-ancestor, &.current-menu-item {
			> a {
				color:$orange;	
			}
			
		}

		@include breakpoint(laptop) {
			
			display: inline-block;
		vertical-align: text-top;
			position: relative;

			

			ul.sub-menu,
			ul.children {
				background-color: $yellow;
				display: none;
				padding:0;
				margin:0;
				width:auto;
				border-top: 0;
				position: absolute;
				z-index: 8999;
				text-align:left;
				box-shadow: .2em .2em .2em rgba(102, 102, 102, .3);

				li {

					a {
						padding-left: 1em;
						border-right: 0;
						display: block;
						width: 180px;
						font-size: .8em;
						border-bottom: 1px dotted $white;

						&:hover,
						&:focus {}

						&:after {
							content:'';
						}
					}

					&:first-child {}

					&:last-child {

						a {
							border-bottom: 0;
						}
					}
					ul, ul ul {
						top:0;
						left:100%;

						li:last-child {
							a {
								margin-bottom:0;
								border-color: transparent;	
							}
							
						}
						
					}
				}

				/* highlight sub-menu current page */
				li.current-menu-item,
				li.current_page_item,
				li.current-page-ancestor {
					& > a {
						border: none;
					}
				}
			}

			&:hover > ul {
				display: block;
				visibility: visible;
				top:98%;
				left:0;
				@include transition(all .5s ease);
			}

			&:last-of-type:hover > ul {
				display: block;
				visibility: visible;
				right:0;
				left:auto;
			}

			&:last-of-type {
				a:after {
					content:'';
					padding:0;
				}
			}
		}
	} /* end .menu li */


} /* end .nav */