/******************************************************************
BUTTONS
Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $title-family;
  text-decoration: none;
  color: $text-red;
  font-size:1.1em;
  font-weight: normal;
  padding: .4em .5em .3em;
  border: 0;
  cursor: pointer;
  line-height: 1.5em;
  vertical-align: middle;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

   &::after {
    content:' \f054';
    font-family: 'FontAwesome';
    font-size:.9em;
    padding:.2em 0 0 1em;
  }

} // end %btn

/* Default button (yellow bg, text-red) */
.button, .button:visited {
  @extend %btn; // here we load the btn defaults
  background-color: $link-color;

  &:hover,
  &:focus {
    background-color: darken($link-color, 4%);
    color:$white;
  } // end hover

  &:active {
    background-color: darken($link-color, 5%);
  } // end active

} // end default button

/* Default button (yellow bg, text-red) */
.button.red {
  @extend %btn; // here we load the btn defaults
  background-color: $red;
  color:$yellow;

  &:hover,
  &:focus {
    background-color: darken($red, 4%);
    color:lighten($yellow,15%);
  } // end hover

  &:active {
    background-color: darken($red, 5%);
  } // end active

} // end default button