/******************************************************************
Colors
******************************************************************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #220d12;
$white:             #fff;

$light-gray:        #f5f4f4;
$gray:              #d8d7d8 ;

$dark-red:			#2b111c;
$red:				#691c2a;
$text-red:			#5c1623;
$light-red:			#91263a;

$orange:			#f68d3d;

$yellow:            #efbe6d;

$green:             #637b4b;

$blue:              #2980b9;

$link-color:        $yellow;
$link-hover:        $orange;

$border-color:      $black;
$disabled-color:    $light-gray;

$text-color:        $black;
$meta-color:        $gray;